@{
    ViewBag.Title = "Chromium Arcade";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This website has lots of fun games that will keep you very entertained!
            </p>
        </div>
    </section>
}
<h3>Information</h3>
<ol class="round">
    <li class="one">
        <h5>Reccommendations</h5>
        Not sure where to start? Check out our handy reccommendations!
        <br />
        [CURRENTLY UNAVALIABLE. SORRY FOR THE INCONVENIENCE.]
    </li>

    <li class="two">
        <h5>Upcoming Features</h5>
        Lots more games
        <br />
        Account intergration
        <br />
        Database
    </li>

    <li class="three">
        <h5>Requests</h5>
        Would you like to request a game? Email me here at 'pokemonband1@gmail.com'.
    </li>
</ol>
